  .card {
      color: rgb(255, 255, 255);
      display: flex;
      flex-direction: column;
      border-radius: 1rem;
      gap: 1rem;
      width: 90%;
      max-width: 340px;
      padding: 1rem;
      border: 6px solid #E5E5E5;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0 0 5px #8a2be2;
      background-color: rgba(255, 255, 255, 0.921);

  }

  .card:hover {
      background-color: rgba(255, 255, 255, 0.493);
  }





  .info_container {
      display: grid;
      gap: 1.6rem;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      margin-top: 3rem;
      padding: 1rem;
      margin-left: auto;
      margin-right: auto;
      font-size: 1rem;
  }


  .card_name {
      padding-bottom: 0.3rem;
      font-family: Helvetica;
      color: #892be2d3;
      font-size: 1.8rem;
      border-radius: 1rem;
      border-bottom: 1px solid #8a2be2;
      text-align: center;
      font-weight: 800;
  }

  .card_info {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-top: 1rem;
      padding: 1rem;
      color: black;
      background-color: rgba(0, 0, 0, 0.229);
      border-radius: 1rem;
      overflow: hidden;
  }

  .email {
      font-size: 1.3rem;
      color: rgb(255, 255, 255);
      background-color: rgba(255, 68, 0, 0.684);
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

  }

  .card_email {
      display: flex;
      gap: 0.7rem;
      font-size: 1rem;
      align-items: center;
      padding: 0.5rem;
      border-radius: 1rem;
      color: black;
      font-weight: 300;
  }

  .happy {
      font-size: 1.3rem;
      background-color: rgba(255, 0, 0, 0.551);
      color: white;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .card_birthday {
      display: flex;
      gap: 0.7rem;
      align-items: center;
      font-weight: 300;
  }

  .card_button {
      display: flex;
      justify-content: end;
      gap: 1rem;
      padding: 0.7rem;

  }

  .card_button-delete {
      border: none;
      cursor: pointer;
      font-size: 1.5rem;
      color: red;
  }

  .card_button-edit {
      cursor: pointer;
      font-size: 1.5rem;
      color: black;
      ;
  }



  .modal {
      width: 100%;
      height: 100vh;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.742);
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(3px);
      padding: 1rem;
  }

  .modal-content {
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      color: black;
  }

  .modal-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
  }

  .modal-buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
  }

  .modal-buttons button {
      margin-left: 10px;
      padding: 8px 16px;
      border: none;
      border-radius: 4px;
      background-color: #eaeaea;
      cursor: pointer;
  }

  .modal-buttons button:first-child {
      background-color: #ff4d4f;
      color: white;
  }