@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input {
    outline: none;
}

ul {
    list-style: none;
}

body {
    background-image: url('../purple.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}


.app_title {
    color: whitesmoke;
    ;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top: 1.5rem;
    font-weight: bolder;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.app_title-button {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.6rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #892be265;
    color: white;
}

.app_title-button:hover {
    background-color: #892be2;
}

@media screen and (min-width:760px) {
    .app_title-button {
        margin-top: 2rem;
        position: absolute;
        left: 6rem;
        top: 5rem;
        width: 20%;
        max-width: 300px;
        border: none;
        background-color: #892be2b1;
        color: white;
    }

    .app_title-button:hover {
        background-color: #892be2;
    }


    .app_title {
        height: 20vh;
        display: flex;
        gap: 1rem;
        font-size: 2.1rem;
        flex-direction: row;
        justify-content: center;
        margin-top: 1rem;
        color: whitesmoke
    }

}

@import url("https://fonts.googleapis.com/css?family=Montserrat:700");